body {
    background-color: #ccc;
}
.header {
    background-color: #000;
    width: 100%;
    height: 150px;
    margin: 0px auto;
    padding: 10px;

}
.row {
    margin-top: -10px !important;

}
h1 {
    color: #fff;
    font-size: 100px;
    margin: 10px;
}

h2 {
    font-size: 1.56rem;
    line-height: 94%;
    margin: -1.626667rem 0 1.424rem 0;
    color: #556491;
}
.material-icons {
    font-size: 80px;
}
.col {
    margin: 10px;
}
.television {
    background-image:url("../images/TV.png");
    width:100%;
    height: 600px;
    margin-top: -10px;
    background-size:cover;
}
.innerTV {
    position: relative;
    margin: 40px;
    padding: 20px;
}
.contentDiv {
    height: 445px;
    overflow: scroll;

}
button {
    margin: 10px !important;
}



/* Image coding for Movie/TV Choice */

.opt {
    padding: 10px;
    background-color: rgb(255, 255, 255, .0);
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 232px;
    margin: 0 auto;
}

.opt:hover {
    -webkit-filter: brightness(1.05) contrast(1.05);
            filter: brightness(1.05) contrast(1.05);
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}


/* Button Coding for Rating Question */

.buttonRating {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    padding: 20px;

}
.buttonRating:hover {
    display:block;
}