body {
    background-color: #ccc;
    background-image: url("../images/152303811431933945.gif");
}
.header {
    background-color: #000;
    width: 100%;
    height: 150px;
    margin: 0px auto;
    padding: 10px;

}
.row {
    margin-top: -20px !important;

}

.col {
    margin: 10px;
}
.television {
    background-image:url("../images/TV.png");
    width:100%;
    height: 100%;
    margin-top: -40px;
    background-size:cover;
}
.innerTV {
    position: relative;
    margin: 35px 40px;

}
.contentDiv {
    height: 520px;
    padding: 0px 40px 10px 40px;
    overflow: scroll;


}
button {
    margin: 10px !important;
}
.carousel-item {
width: 250px !important;
height: 300px !important;
min-height: 380px !important;
}

/* Image coding for Movie/TV Choice */

.opt {
    padding: 10px;
    background-color: rgb(255, 255, 255, .0);
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 232px;
    margin: 0 auto;
}

.opt:hover {
    -webkit-filter: brightness(1.05) contrast(1.05);
            filter: brightness(1.05) contrast(1.05);
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}


/* Button Coding for Rating Question */

.buttonRating {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
    background-color: #556491;
    color: #fff;
    border: 2px black solid;

}
.buttonRating:hover {
    display:inline;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    
}

/* Footer Coding  */

.page-footer {
    margin-top: 10px;
    background-color: #556491 !important;
    border-top: 5px #000 solid !important;
}
.footer-copyright {
    background-color: #111 !important;
    border-top: 15px #333 solid !important;
}


/* ALL THE FONT STUFF */


.footerText {
    color: #aaa;
    font-size: 12px;
}
.copywriteText{
    color: #aaa;
    font-size: 10px;
}

.flick {
    font-family: 'Limelight', cursive;
    color: #26a69a;
    font-size: 103px;
    letter-spacing: 0px;
}
.pick {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #fff;
    font-size: 100px;
    margin: 10px;
}

h2 {
    font-size: 1.7rem;
    line-height: 94%;
    margin: -1.626667rem 0 1.424rem 0;
    font-family: 'Noto Sans', sans-serif;
    color: #556491;
}

h3 {
    /* background-color: #333333; */
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    /* border-right: 20px #000 solid; */
    /* border-bottom: 10px gray solid; */
    /* border-top: 20px #ccc solid; */
    font-size: 50px;
    
}

h4 {
    font-size: 1.28rem;
}

.material-icons {
    font-size: 85px;
}